<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html lang="es" xmlns:th="http://www.thymeleaf.org">

    <head th:replace="/fragments/head :: head">

    </head>

    <body>


        <header>         

            <h1 >  "El Pensadero"  </h1>    


        </header>   

        <nav th:replace="/fragments/navbar :: nav"></nav>
        <div th:replace="/fragments/success :: div"></div>
        <div th:replace="/fragments/errores :: div"></div>

        <div id="card" class="card m-5" >
            <div class="card-header">
                <div class="row">

                    <div class="col text-center">  <h2>Registrar nuevo usuario</h2> </div>
                    <div class="col text-end"><button type="button" class="btn btn-secondary"><a th:href="@{/}" >Volver</a></button>
                    </div>
                </div>
            </div>

            <div class="card-body ">
                <div class="divt">
                    <form method="POST" th:action="@{/registro}">


                        <div class="mb-3">
                            <label for="userName" class="form-label"> Nombre usuario </label>
                            <input type="text" class="form-control" name="userName" th:value="${userName}" placeholder="Ingrese nombre de usuario.">
                        </div>

                        <div class="mb-3">
                            <label for="password" class="form-label"> Contreasña</label>
                            <input type="password" class="form-control" name="password" placeholder="Ingrese su contraseña">
                        </div>

                        <div class="mb-3">
                            <label for="password2" class="form-label"> Contreaseña </label>
                            <input type="password" class="form-control" name="password2" placeholder="Ingrese su contraseña nuevamente.">
                        </div>

                        <button type="submit"  class="btn-3 btn-dark"> Crear Usuario </button>
                    </form>

                </div>

            </div>
        </div>


        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>


    </body>
</html>
